.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
}

.feed {
    list-style: none; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 16px; 
    width: 100%;
}

@media (min-width: 768px) {
    .feedContainer {
        padding-left: 300px;
        padding-bottom: 0;
        width: calc(100vw - 550px)
    }

    .post {
        height: 450px;
        width: 450px;
    }

    .feed {
        margin-bottom: 150px
    }
}