/* components/Posts/posts.module.css */
.postsContainer {
    padding: 20px;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.post h3 {
    margin: 0;
    font-size: 1.5em;
}

.post p {
    margin: 5px 0;
}
