body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headers {
    width: 100vw;
    height: 97px;
    background-color: white;
}

.username {
    padding: 16px 0;
    color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.profileContainer {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.profileContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ccc;
    margin-right: 20px;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stats h5 {
    margin: 0 10px;
}

.description {
    text-align: left;
    margin-top: 16px;
    color: #333;
}

.edit {
    width: 100%;
    padding: 10px 0;
}

.edit button {
    width: 100%;
    height: 64px;
    background-color: #ccc;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: auto; 
}

.bottomContainer {
    margin-top: 20px;
    text-align: center;
}

.bottomContainer button {
    width: 100%;
    height: 64px;
    background-color: #ccc;
    color: black;
    border: none;
    cursor: pointer;
}
