.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    height: calc(100vh - 50px);
    margin: 50px auto 20px auto; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.heading {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.inputWrapper {
    font-size: 14px;
    display: flex;
    width: 100%;
    color: #666;
    margin-bottom: 10px;
}

.inputFile {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submitButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    width: 100%;
}

.submitButton:hover {
    background-color: #45a049;
}

.message {
    margin-top: 20px;
    font-size: 16px;
    color: #d9534f;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        max-width: 500px;
        margin: 50px auto 20px 360px;
        padding: 30px;
    }

    .heading {
        font-size: 24px;
    }

    .inputFile {
        width: auto;
    }

    .submitButton {
        width: auto;
    }
}

@media (min-width: 1024px) {
    .container {
        height: 100vh; 
        width: calc(100% - 260px);
        margin: 50px auto 20px auto;
    }
}

